<div class="app collapsed">
  {% if page.sidebar %}
    <aside class="app__side">
      {{ page.sidebar }}
    </aside>
  {% endif %}

  {% if page.content or page.footer or page.messages %}
    <div class="app__main">
      {% if page.content %}
        <main class="content">
          {{ page.content }}
        </main>
      {% endif %}

      {% if page.footer %}
        <footer class="footer">
          {{ page.footer }}
        </footer>
      {% endif %}

      {% if page.messages %}
        <div class="messages">
          {{ page.messages }}
        </div>
      {% endif %}
    </div>
  {% endif %}

  <span class="toggle"></span>
</div>
