.layout-navigation {
  position: fixed;
  top: var(--gin-toolbar-secondary-height);
  left: var(--gin-toolbar-x-offset);
  display: block;
  width: var(--gin-toolbar-width);

  nav > ul {
    list-style: none;
    display: flex;
    align-content: end;
  }
}
